@charset "UTF-8";

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #FDFCFC;
}

/* Toggle Styles */

#viewport {
  padding-left: 260px;

}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

#content .navbar{
	height: 50px;
	background: #FDFCFC;
	border: 0.5px solid lightgray;
	border-radius:15px;
	margin-top: 10px;
	display:flex;
}

#content .navbar > .container-fluid{
	display: flex;
	flex-wrap: inherit;
    align-items: center;
    justify-content: flex-end;
}



/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 98%;
  margin-left: -240px;
  background: #3E3D3D;
  border-radius: 15px;
}

#sidebar header {
  background-color: #3E3D3D;
  font-size: 22px;
  line-height: 52px;
  text-align: center;
  border-radius: 15px;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
  justify-content : center;
}



#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav li{
  float: center;
  padding-left: 30%;
  justify-content : center;
}

#sidebar .nav a{
  background: none;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
  justify-content : center;

}

#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}

#sidebar .nav a i{
  margin-right: 16px;
}

#sidebar footer p{
	color: #CFD8DC;
    font-size: 14px;
    position: relative;
    bottom: 0;
    text-align: center;
    z-index: 1000;
    justify-content : center;
    padding-top: 700px;
}