@charset "UTF-8";
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: light;
    font-style: normal;
}

/* Ligth Mode */
:root {
	
--color-primary: #007bff;
--color-secondary: #6c757d;
--color-success: #28a745;
--color-danger: #dc3545;
--color-warning: #ffc107;
--color-info: #17a2b8;
--color-green: #39D353;
--color-purple: #7B4ED4;
--color-dark: #343a40;
--color-light: #f8f9fa;
--color-background: #fff;
--color-dark-variant: #677483;
--color-white: #fff;
--color-shadow: #e3e3e3;
--border-radius-1: 0.4rem;
--border-radius-2: 0.8rem;
--border-radius-3: 1.2rem;
--color-black: #000;
--color-thead: #e3e3e3;
--color-table: #eeeeee;
--color-jobdetail: #909090;


--color-chart:#007bff;
--box-shadow: 0 0.5rem 5rem var(--color-shadow);

}

/* Dark-Mode */
.dark-theme-variables {
--color-dark: #edeffd;
--color-light: #000;
--color-background: #181a1e;
--color-white: #202528;
--color-black: #fff;
--color-dark-variant: #a3bdcc;
--color-shadow: #646464;
--color-chart:#28a745;
--color-thead: #000;
--box-shadow: 0 0.1rem 20rem var(--color-shadow);
--color-table: rgba(68, 68, 68, 0.5);
--color-jobdetail: #bcbcbc;

}

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 100%;
  	background: var(--color-white);
}

/* 햄버거 버튼  스타일*/

.menu-trigger {
  margin: 10px 10px;
}

.menu-trigger:hover span:nth-of-type(1) {
  background-color: var(--color-dark-variant);
}

.menu-trigger:hover span:nth-of-type(2) {
  background-color: var(--color-dark-variant);
}

.menu-trigger:hover span:nth-of-type(3) {
  background-color: var(--color-dark-variant);
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
	z-index:1000;
  	position: relative;
  	width: 20px;
  	height: 16px;
  	display:flex;
	line-height: 16px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--color-dark);
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 6px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

/* 햄버거 버튼 이벤트 */
.menu-trigger.active-1 span:nth-of-type(1) {
  -webkit-transform: translateY (6px) rotate (-45deg);
  transform: translateY(6px) rotate(-45deg);
}

.menu-trigger.active-1 span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active-1 span:nth-of-type(3) {
  -webkit-transform: translateY(-5.5px) rotate(45deg);
  transform: translateY(-5.5px) rotate(45deg);
}


/* Toggle Styles */

#viewport {
  padding-left: 0;
padding-bottom:0;
margin-bottom:0;
	background: var(--color-white);
	width: 100vw;
	height: 100vh;
	color: var(--color-dark);
	
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
  	background: var(--color-white);
}

#content .navbar{
	height: 40px;
	background: var(--color-white);
	display:flex;
	line-height: 40px;
	box-shadow: var(--box-shadow);
	border-bottom: 0.5px solid var(--color-shadow);

}

#content .navbar > .container-fluid{
	display: flex;
	flex-wrap: inherit;
    align-items: center;
    justify-content: flex-end;
}

#content .moonwork{
	text-decoration: none;
	padding-left:30px;
	font-family:'GongGothicMedium';
	font-size:20px;
	Color: var(--color-dark);
}

#content .menu-area{
	text-decoration: none;
	padding-left:50px;
	padding-top: 10px;
	color:black;
	pointer-events: none; /*이벤트를 막음*/
	cursor: default; /*마우스 커서를 포인트에서 디폴트로 변경*/
	Color: var(--color-dark);
	font-family: 'GmarketSansMedium';
	font-size:15px;
	z-index:1000;
}

#content .dashboard{
	padding: 20px 100px 50px;
}

#content .read{
	padding: 20px 100px 50px;
}

#content .history{
	padding: 20px 100px 50px;
}

#content .hosts{
	padding: 20px 100px 50px;
}


#content .dropdown a{
	background: var(--color-white);
	color: var(--color-dark);
}

#content .dropdown ul{
	background: var(--color-white);
	color: var(--color-dark);
}

#content .dropdown-menu a:hover{
	background: var(--color-shadow);
	color: var(--color-dark);
}



/* Sidebar Styles */

#sidebar {
  z-index: 900;
  position: fixed;
  left: 250px;
  width: 100%;
  max-width: 250px;
  height: 100%;
  left: -20%;
  background-color: var(--color-light);
  border-right: 1px solid var(--color-shadow);
}

#sidebar header {
  background: var(--color-light);
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  font-family:'GongGothicMedium'
}

#sidebar header a {
  Color: var(--color-dark);
  display: block;
  text-decoration: none;
  justify-content : center;
  	pointer-events: none; /*이벤트를 막음*/
	cursor: default; /*마우스 커서를 포인트에서 디폴트로 변경*/
}



#sidebar .nav li{
  float: center;
  padding-left: 30%;
  justify-content : center;
  text-align: center;
  vertical-align: middle;

}

#sidebar .nav a{
  background: none;
  color: var(--color-dark);
  font-size: 16px;
  padding: 16px 24px;
  justify-content : center;


}

#sidebar .nav a:hover{
  background: none;
  color: var(--color-black);
  font-weight: bold;
}

#sidebar .nav a i{
  margin-right: 16px;
}

#sidebar footer p{
  color: var(--color-dark);
    font-size: 14px;
    position: relative;
    bottom: 0;
    text-align: center;
    z-index: 1000;
    justify-content : center;
    padding-top: 700px;
}

.type04 {
  text-align: center;
  line-height: 1.5;
  border-top: 0.5px solid var(--color-shadow);
  margin : 20px 10px;
}
.type04 th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 0.5px solid var(--color-shadow);
}
.type04 td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 0.5px solid var(--color-shadow);
}



#dn {
    display: none;
}
.toggle2 {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 65px;
    height: 32px;
    background: var(--color-white);
    border-radius: 84px;
    margin-right: 40px;
    border: 1px solid var(--color-dark);
}
.toggle__handler {
    width: 35px;
    height: 26px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    z-index: 2;
    transition: transform 0.5s;
    margin-left: 5px;

}
#dn:checked+.toggle2{
background:var(--color-background);
}

#dn:checked+.toggle2 .toggle__handler{
  width:35px;
  height:26px;
  border-radius:50%;
  display:inline-block;
  transform:translate3d(32px,0,0) rotate(0);
  transition:transform 0.5s;
    margin-right: 5px;
  }
  
  
 #content .card{
 background: var(--color-white);
 border: 0.5px solid var(--color-dark);
 }
  
 #content .card-count{
 font-family: 'GmarketSansMedium';
 
 }
 
 #content .card .card-title{
 color: var(--color-dark);
 }
 
  
 /* header row */
.jsgrid-header-row>.jsgrid-header-cell {
  background-color: var(--color-thead);     
  font-size: 1.2em;
  color: var(--color-dark);
  font-weight: bold;
}

/* rows */
.jsgrid-row>.jsgrid-cell {
  background-color: var(--color-white);
}

/* alternate rows */
.jsgrid-alt-row>.jsgrid-cell {
  background-color: var(--color-white);
}


/* job list 테이블*/

.bold-blue {
	font-weight: bold;
	color: #0277BD;
}

.read button {
	color: #FFFFFF;
}

.read .addbtn {
	display: inline-block;
	text-decoration: none;
	background-color: none;
	border-color: var(--color-primary);
	font-weight: bold;
	font-size: 14px;
	color: var(--color-black);
	padding: 10px 15px;
	margin: 15px 0;
}
.read .addbtn:hover{
	color: var(--color-primary);
}
.read .editbtn {
	display: inline-block;
	text-decoration: none;
	background-color: none;
	border-color: var(--color-info);
	font-weight: bold;
	font-size: 14px;
	color: var(--color-black);
	padding: 10px 15px;
}
.read .editbtn:hover{
	color: var(--color-info);
}
.read .schedulebtn {
	display: inline-block;
	text-decoration: none;
	background-color: none;
	border-color: var(--color-warning);
	font-weight: bold;
	font-size: 14px;
	color: var(--color-black);
	padding: 10px 15px;
}
.read .schedulebtn:hover{
	color: var(--color-warning);
}
.read .runsbtn {
	display: inline-block;
	text-decoration: none;
	background-color: none;
	border-color: var(--color-success);
	font-weight: bold;
	font-size: 14px;
	color: var(--color-black);
	padding: 10px 15px;
}
.read .runsbtn:hover{
	color: var(--color-success);
}
.read .delebtn {
	display: inline-block;
	text-decoration: none;
	background-color: none;
	border-color: var(--color-danger);
	font-weight: bold;
	font-size: 14px;
	color: var(--color-black);
	padding: 10px 15px;
}
.read .delebtn:hover{
	color: var(--color-danger);
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
	display: inline-block;
  width: 100%;
  border: 3px solid var(--color-shadow);
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 10px 0 0 10px;
  outline: none;
  color: var(--color-shadow);
  background: var(--color-white);
}

.searchTerm:focus{
  color: var(--color-black);
}

.searchButton {
	display: inline-block;
  width: 40px;
  height: 36px;
  border: 1px solid var(--color-shadow);
  background: var(--color-shadow);
  text-align: center;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 20px;
}

.searchButton .fa-search{
	  color: var(--color-black);
}


.read table {
	width: 100%;
	padding-top: 30px;
	border-collapse: collapse;
}

.read table thead {
	background-color: var(--color-light);
	border-bottom: 0.5px solid var(--color-light);
}

.read table thead td {
	padding: 10px;
	font-weight: bold;
	color: var(--color-dark);
	font-size: 14px;
}

.read table tbody tr {
	border-bottom: 1px solid #d3dae0;
}

.read table tbody tr:nth-child(even) {
	background-color: var(--color-white);
}

.read table tbody tr:hover {
	background-color: var(--color-light);
}

.read table tbody tr:hover td {
	color:var(--color-dark);
}

.read table tbody tr:hover td:nth-child(1) {
	color: var(--color-dark);
}

.read table tbody tr td {
	padding: 10px;
}

.read table tbody tr td.actions {
	padding: 8px;
	text-align: left;
}

.detail-label-head{
	padding-bottom:15px;

}
.detail-label {
	padding-bottom:15px;
	color: var(--color-jobdetail);
}

.jobdetail-text {
	padding-bottom:15px;
	vertical-align:middle;
	color: var(--color-black);
}


.detail-form .form-control {

	
	background-color: var(--color-white) !important;
	color: var(--color-dark) !important;
	border: 0.5px solid rgba(128, 128, 128, 0.3);
}

.modal-content {
	background-color: var(--color-white) !important;
	color: var(--color-dark) !important;
}

.modal-content .form-control{
	background-color: var(--color-white) !important;
	color: var(--color-dark) !important;
}


